// main color
$primary-color: #F1488D;
$surface-color: #F1F1F1;
$surface-icon-color: #F8F8F8;
$surface-container-color: #FFFFFF;

// typography
$header-color: #383646;
$text-color: #8B8B8B;
$primary-btn-color: #FFFFFF;

// gradients
$primary-gradient: radial-gradient(circle at center, #FFB5C7 0%, #FF4D77  100%);
$primary-gradient-hover: radial-gradient(circle at center, #FFD6DF 0%, #FF83A0  100%);
$primary-gradient-focus: radial-gradient(circle at center, #FFD6DF 0%, #FF83A0  51%);