@use '../base/typography';
@use './input-common';

.form-control-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;

  & + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    @include typography.text-3;
  }

  & + label::before {
    @include input-common.input-border;
    content: '';
    display: inline-block;
    width: 1.3em;
    height: 1.3em;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70% 70%;
  }

  &:checked + label::before {
    background-image: url("../../image/check-square.svg");
  }
}
