@use '../themes/theme';
@use '../base/typography';
@use '../base/size';

.profile-card-mini {
  padding: 11px 14px;
  background-color: #FBFBFB;
  border-radius: 12px;
  margin-right: 40px;
  margin-bottom: 30px;

  display: flex;
  align-items: center;

  .profile-card-mini-description {
    margin-left: 24px;
  }

  .profile-card-mini-title {
    @include typography.header-4-primary;
  }

  .profile-card-mini-href > a {
    @include typography.text-4;
    color: theme.$text-color;
    cursor: pointer;
  }

  @include size.on-mobile {
    margin-bottom: 0px;
    margin-right: 5px;
    max-height: 230px;
  }
}